.sapCpRuntime {
    width: 100%;
    height: 100%
}

.sapCpRuntime .sapCpBody {
    margin: 0;
    width: 100%;
    height: 100%
}

.sapCpContentPage {
    box-sizing: border-box;
    width: 100%;
    height: 100%
}

.sapCpContentPageLoading {
    opacity: 0;
    cursor: wait
}

.sapCpLayout {
    box-sizing: inherit;
    width: 100%;
    padding: 8px
}

.sapCpWidget {
    box-sizing: inherit;
    min-height: 30px;
    padding: 8px
}

.sapCpWidgetHidden {
    display: none
}

.sapCpWidget ~ .sapCpWidget {
    margin-top: 8px
}

.sapCpWidgetContentLeft {
    min-height: 1px;
    float: left;
    text-align: right
}

.sapCpWidgetContentRight {
    min-height: 1px;
    text-align: left;
    vertical-align: top
}

.sapCRLWidgetFixContent {
    clear: both
}

.sapCpWidgetContentNoIndent {
    min-height: 1px
}

.sapCpWidgetContentLeft .sapCpLabel {
    margin-top: 6px;
    margin-right: 10px
}

.sapCpWidgetMandatoryMissing {
    background-color: lightcoral
}

.sapCpWidgetInvalid {
    background-color: orange
}

.sapCpButtonWidget .sapCpButtonWidgetExtraText {
    display: block;
    padding-top: 5px
}

.sapCpButtonWidget .sapCpMissingMandatoryFieldLabel {
    display: block;
    color: red
}

.sapCpContentPage:not(.sapCpMissingMandatoryField) .sapCpButtonWidget .sapCpMissingMandatoryFieldLabel {
    display: none
}

.sapCpButtonWidget .sapCpErrorMessageText {
    display: block;
    color: red
}

.sapCpContentPage:not(.sapCpSubmitError) .sapCpButtonWidget .sapCpErrorMessageText {
    display: none
}

.sapCpButtonWidget .sapCpSuccessMessageLabel {
    display: block;
}

.sapCpContentPage:not(.sapCpSubmitCompleted) .sapCpButtonWidget .sapCpSuccessMessageLabel {
    display: none
}

.sapCpContentPage:not(.sapCpSubmitCompleted) .sapCpButtonWidget .sapCpButtonWidgetDownloadLink {
    display: none
}

.sapCpButtonWidget .sapCpButtonWidgetDownloadLink:not(.sapCpButtonWidgetDownloadLinkVisible) {
    display: none
}

.sapCpLabel {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

.sapCpLabelRequiredBefore {
    padding-left: 10px
}

.sapCpLabel:not(.sapCpLabelRequiredBefore):after {

    color: RoyalBlue;
    visibility: hidden
}

.sapCpWidgetContentLeft .sapCpLabel:not(.sapCpLabelRequiredBefore):after {
    position: absolute
}

.sapCpLabel:not(.sapCpLabelRequiredBefore).sapCpLabelRequired:after {
    visibility: visible
}

.sapCpLabel.sapCpLabelRequiredBefore:before {

    color: RoyalBlue;
    visibility: hidden;
    position: absolute;
    left: 1px;
    top: -2px
}

.sapCpLabel.sapCpLabelRequiredBefore.sapCpLabelRequired:before {
    visibility: visible
}

.sapCpCheckBox ~ .sapCpLabel {
    margin-left: 2px
}

.sapCpInput {
    font-size: inherit;
    font-family: inherit;
    padding: 4px 8px;
    text-overflow: ellipsis
}

.sapCpCheckBox {
    vertical-align: top;
    min-width: 20px;
    float: left
}

.sapCpCheckBox input {
    font-size: inherit;
    font-family: inherit
}

.sapCpDropDown {
    font-size: inherit;
    font-family: inherit;
    padding: 4px 8px;
    min-width: 215px
}

.sapCpDropDown>option {
    color: black
}

.sapCpDropDownPlaceholder {
    color: gray
}

.sapCpDatePicker option {
    color: black
}

.sapCpDatePicker .sapCpDropDown~.sapCpDropDown {
    margin-left: 10px
}

.sapCpDatePicker .sapCpDatePickerDay {
    min-width: 50px;
    width: 23%;
    max-width: 100px
}

.sapCpInputWidget .sapCpDatePickerMonth {
    min-width: 100px;
    width: 43%;
    max-width: 200px
}

.sapCpInputWidget .sapCpDatePickerYear {
    min-width: 50px;
    width: 23%;
    max-width: 100px
}

.sapCpButton {
    font-size: inherit;
    font-family: inherit;
    padding: 6px 10px
}

@media screen and (min-width: 481px) {
    .sapCpLabel:not(.sapCpLabelRequiredBefore):after {
        right:1px;
        top: -2px
    }

    .sapCpLabel:not(.sapCpLabelRequiredBefore) {
        padding-right: 10px
    }
}

@media screen and (max-width: 480px) {
    .sapCpWidgetContent {
        width:100%!important;
        text-align: left
    }

    .sapCpWidgetContent .sapCpInput {
        width: 95%
    }

    .sapCpWidgetContent .sapCpTextArea {
        width: 98%
    }

    .sapCpWidgetContent .sapCpDropDown {
        width: 100%
    }

    .sapCpWidgetContent .sapCpDatePicker .sapCpDatePickerDay {
        width: 23%
    }

    .sapCpWidgetContent .sapCpDatePicker .sapCpDatePickerMonth {
        width: 43%
    }

    .sapCpWidgetContent .sapCpDatePicker .sapCpDatePickerYear {
        width: 23%
    }

    .sapCpWidgetContentRight {
        padding-left: 0!important
    }
}

.sapCpCheckBox input {
width: 14px; height: 14px; float: left; margin-right: 6px; font-weight: normal; border: 1px #e31937 solid; background-color: #fff; margin-top: 3px; appearance: none; box-shadow: none;
}

.sapCpCheckBoxWidget label { cursor: pointer; margin: 0; padding: 0; min-height: 14px;color: #666; font-size: 16px; font-weight:400;}

.sapCpCheckBox input:focus {
    box-shadow: none;

}


.sapCpButton { background-color:#e31937; color: #fff; height: 45px; padding: 0 20px 0 18px; float: right; line-height: 50px; font-size: 22px; clear: both; border: none; }
.sapCpButton:disabled { background-color:#797879; color: #fff; height: 45px; padding: 0 20px 0 18px; float: right; line-height: 50px; font-size: 22px; clear: both; border: none; }
.sapCpButton.upload-btn { float: none; display: inline-block; }
.sapCpButton.upload-btn span {line-height: 1; display: inline-block; position: relative;}
.sapCpButton .download-arrow { float: left; margin-top: 1px; background-position: -107px -80px; margin-right: 10px;}
.sapCpButton .upload-arrow { width: 20px; height: 23px; background-position:0 -320px; position: absolute; left: 0; top: 50%; margin-top: -13px;}
.sapCpButton:hover { text-decoration: none; color: #fff;}
.sapCpButton:visited { color: #fff;}



.sapCpInputWidget .sapCpLabel { display: block; font-size: 22px; line-height: 1.3; font-weight: normal; padding-bottom: 23px;}

.sapCpCheckBox input:checked { background-color: #e31937; box-shadow: none;}

.sapCpInput {height: 50px; background-color: #fff; border: none; border-radius: 0; box-shadow: none; padding: 5px 20px 0; line-height: 1;  font-size: 22px;/*font-style: italic;*/}
.sapCpInput:focus { box-shadow: 0 0 5px #c6c5c5;}
.sapCpInput::-moz-placeholder,.textarea-control::-moz-placeholder { color: #c6c5c5; font-style: italic; font-family: MetaWebPro-Normal, sans-serif;}
.sapCpInput::-webkit-input-placeholder,.textarea-control::-webkit-input-placeholder { color:#c6c5c5;font-style: italic;font-family: MetaWebPro-Normal, sans-serif; }
.sapCpInput:-ms-input-placeholder,.textarea-control:-ms-input-placeholder { color:#c6c5c5; font-style: italic;font-family: MetaWebPro-Normal, sans-serif;}

.sapCpContentPage {
	position:relative;
}


/*
 .sapCpSuccessMessageLabel {
	
    position: absolute;
	
	margin-top:2%;
	margin-bottom:2%;
    bottom:80px;
	right: 0;
	width: 50%;
    height: 180px;
	background-color: #fff;
	border-radius: 6px;
	border-color: #555;
	border-width: 2px;
	border-style: solid;
	color: #000;

	
}

 .sapCpButtonWidget .sapCpSuccessMessageLabel {
	
   	padding: 40px 20px;
	
	
	text-align: center;
}


/* The actual popup 
 .sapCpButtonWidget.sapCpSuccessMessageLabel {
 
	position: absolute;
	
	margin-top:2%;
	margin-bottom:2%;
    bottom:0;
	right: 0;
	width: 50%;
    height: 180px;
	background-color: #fff;
	border-radius: 6px;
	border-color: #555;
	border-width: 2px;
	border-style: solid;
	color: #000;
}

/* Popup arrow 
 .sapCpButtonWidget .sapCpSuccessMessageLabel::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 75%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

*/