.col-xs-1-8, .col-sm-1-8, .col-md-1-8, .col-lg-1-8 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.col-xs-1-8 {
    width: 20%;
    float: left;
}

.thesearch {
    margin-left: 75%;
    margin-top: -60px;
}

.thumbnail {
    box-shadow: 4px 8px 5px #c4baba;
}

    .thumbnail:hover {
        border: 1px solid #14b6ff !important;
    }

@media (max-width: 640px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        min-width: 320px;
    }
}

@media (min-width: 768px) {
    .col-sm-1-8 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-8 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-8 {
        width: 20%;
        float: left;
    }
}

h4 {
    color: black;
}