@{
    Layout = null;
    var vList = Model as List<Web.ViewModels.VMContent>;
}
<script>
    var editor = new Array();
    var count = '@vList.Count';

    KindEditor.ready(function (K) {
        if (count != '') {
            for (var i = 0; i < count; i++) {
                editor[i] = K.create('textarea[name="content_' + i +'"]', {
                    resizeType: 1,
                    allowPreviewEmoticons: false,
                    allowImageUpload: false,
                    filterMode: false,
                    width: '690px',
                    height: '300px',
                    items: [
                        //'emoticons',
                        //'fullscreen'
                    ]
                });
            }
        }
    });

    function Clear(index) {
        if (confirm('确定清空内容吗？')) {
            editor[index].html('')
            $('#picfile').val('');
        }
    }

    function Save(index) {
        var str = editor[index].text();
        //var str = editor[index].html();

        str = str.replace(/[<>&"']/g, function (c) {
            return { '<': '&lt;', '>': '&gt;', '&': '&amp;', '"': '&quot;', "'": '&apos;' }[c];
        });
        
        $('#conten_' + index).val(str);

        $.ajax({
            url: '/Home/SaveContents',
            type: 'post',
            data: $('#f_' + index).serialize(),
            success: function (data) {

            }
        })
    }

    var state = 0;
    var vstate = 0;

    function UploadFile(index) {
        $('#picfile').click();
        state = index;
    }

    $('#picfile').change(function (e) {
        var file = e.delegateTarget.files[0];
        if (file == null) { return; }
        var status = Verify(file);
        if (status == false) { $('#picfile').val(''); alert('请上传 JPG、JPEG、PNG、GIF 格式的图片文件'); return; }

        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (ret) {
            var picString = reader.result;
            editor[state].insertHtml('<img src="' + picString + '" />');
        }
    });

    function UploadVideo(index) {
        $('#videofile').click();
        vstate = index;
    }

    $('#videofile').change(function (e) {
        var file = e.delegateTarget.files[0];
        if (file == null) { return; }

        var index = file.name.lastIndexOf(".");
        var ext = file.name.substr(index + 1);
        ext = ext.toUpperCase();

        if (ext != "MP4") { $('#videofile').val(''); alert('请上传MP4格式的视频'); return; }

        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (ret) {
            var videoStr = reader.result;
            editor[vstate].insertHtml('<video controls style="width:430px;" preload="auto" autoplay="autoplay" src="' + videoStr + '"></video>');
        }
    });

    var arr = ["JPG", "JPEG", "PNG", "GIF"];

    function Verify(file) {
        var statu = false;

        var index = file.name.lastIndexOf(".");
        var ext = file.name.substr(index + 1);
        ext = ext.toUpperCase();

        for (var i = 0; i < arr.length; i++) {
            if (ext == arr[i]) {
                statu = true;
            }
        }
        return statu;
    }
</script>

<script type="text/javascript">
<!--    google_ad_client = "ca-pub-7116729301372758"; google_ad_slot = "5052271949"; google_ad_width = 728; google_ad_height = 10; //-->
</script>

@*<script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>*@

<input hidden="hidden" id="picfile" type="file" />
<input hidden="hidden" id="videofile" type="file" />
<ul class="dropdown-menu">
    @for (int i = 0; i < vList.Count; i++)
    {
        <li class="Board" style="height:auto;">
            <form id="f_@i">
                <input name="ArticleID" type="hidden" value="@vList[i].ArticleID" />
                <input name="DomainID" type="hidden" value="@vList[i].DomainID" />
                <input id="conten_@i" name="Conten" type="hidden" value="" />
            </form>
            <textarea name="content_@i" style="width:700px;height:200px;visibility:hidden;">@vList[i].Conten</textarea>
            <div style="padding:5px 0 5px 0;">
                @*<button onclick="UploadFile(@i)">上传图片</button>
                    <button onclick="UploadVideo(@i)">上传视频</button>*@
                <button onclick="Clear(@i)" name="clear">清空内容</button>
                <button onclick="Save(@i)" style="position:absolute;right:5px;width:68px;">保存</button>
            </div>
        </li>
    }
</ul>





