@{
    ViewBag.Title = "Home Page";
}

<script>
    var lid = 'li_' + '@ViewBag.CatID';
</script>

<script>
    function SelectCat(index) {
        window.location.href = '/Home/Index?catid=' + index;
    }

    $(function () {
        var ul = $('#ulcat').children();
        for (var i = 0; i < ul.length; i++) {
            if (ul[i].id == lid) {
                ul[i].className = 'checkedType';
            }
        }
    })
</script>

<div class="Content">
    <div id="classification">
        <ul id="ulcat">
            <li id="li_0" onclick="window.location.href = '/Home/Index';">全部</li>
            <li id="li_22" onclick="SelectCat('22')">宠物</li>
            <li id="li_19" onclick="SelectCat('19')">搞笑</li>
            <li id="li_25" onclick="SelectCat('25')">家居设计</li>
            <li id="li_23" onclick="SelectCat('23')">健身</li>
            <li id="li_28" onclick="SelectCat('28')">美食</li>
            <li id="li_26" onclick="SelectCat('26')">情感</li>
            <li id="li_12" onclick="SelectCat('12')">时尚</li>
            <li id="li_24" onclick="SelectCat('24')">污</li>
            <li id="li_27" onclick="SelectCat('27')">育儿</li>
        </ul>
    </div>
    <div class="MessageBoard">
        <ul class="dropdown-menu">
            @for (int i = 0; i < 6; i++)
            {
                <li class="Board">
                    <div class="textArea"><textarea maxlength="300"></textarea></div>
                    <div class="photoArea"></div>
                    <div class="AllLink fl">
                        @*<a href="#">
                                <img src="~/Content/img/topic.png" /> 话题
                            </a>
                            <a href="#">
                                <img src="~/Content/img/pic.png" />图片↓
                            </a>
                            <a href="#">
                                <img src="~/Content/img/expre.png" />表情
                            </a>
                            <span>还能输入300个字</span>*@
                        <a href="#" class="fr" style="margin-right: 100px;">上传图片</a>
                    </div>
                    @*<div class="boardFunction">
                            <input id="buttonOne" type="submit" value="立即发送">
                            <input id="buttonTwo" type="submit" value="定时发送">
                        </div>*@
                </li>
            }
        </ul>
    </div>
</div>