@{
    ViewBag.Title = "Home Page";
}

<div class="Content">
    <div id="classification">
        <ul>
            <li class="checkedType">全部</li>
            <li>宠物</li>
            <li>搞笑</li>
            <li>家居设计</li>
            <li>健身</li>
            <li>美食</li>
            <li>情感</li>
            <li>时尚</li>
            <li>污</li>
            <li>育儿</li>
        </ul>
    </div>
    <div class="MessageBoard">
        <ul class="dropdown-menu">
            @for (int i = 0; i < 6; i++)
            {
                <li class="Board">
                    <div class="textArea"><textarea maxlength="300"></textarea></div>
                    <div class="photoArea"></div>
                    <div class="AllLink fl">
                        @*<a href="#">
                                <img src="~/Content/img/topic.png" /> 话题
                            </a>
                            <a href="#">
                                <img src="~/Content/img/pic.png" />图片↓
                            </a>
                            <a href="#">
                                <img src="~/Content/img/expre.png" />表情
                            </a>
                            <span>还能输入300个字</span>*@
                        <a href="#" class="fr" style="margin-right: 100px;">上传图片</a>
                    </div>
                    @*<div class="boardFunction">
                            <input id="buttonOne" type="submit" value="立即发送">
                            <input id="buttonTwo" type="submit" value="定时发送">
                        </div>*@
                </li>
            }
        </ul>
    </div>
</div>