@{

}

<script>
    var catid = '@ViewBag.CatID';
    var lid = 'li_' + catid;

    var pagecount = 1; //当前页码
    var tatal = '@ViewBag.Count'; //总页数
</script>

<script>
    function SelectCat(index) {
        window.location.href = '/Home/Index?catid=' + index;
    }

    $(function () {
        var ul = $('#ulcat').children();
        for (var i = 0; i < ul.length; i++) {
            if (ul[i].id == lid) {
                ul[i].className = 'checkedType';
            }
        }

        $('#index').html(' 第 ' + pagecount + ' 页 ');

        $.ajax({
            url: '/Home/ContentList',
            type: 'post',
            data: {
                catid: catid
            },
            success: function (data) {
                $('#cont').html(data);
            }
        })
    })

    function Paging(state) {
        if (state == 'Previous') {
            var c = pagecount - 1;
            if (c <= 0) {
                $('#error').html('已经是第1页了');
                return;
            } else {
                pagecount = c;
            }
        } else {
            var c = pagecount + 1;
            if (c > tatal) {
                $('#error').html('已经是最后一页了');
                return;
            } else {
                pagecount = c;
            }
        }

        $('#error').html('');
        $('#pcount').val('');

        $.ajax({
            url: '/Home/ContentList',
            type: 'post',
            data: {
                index: parseInt(pagecount - 1),
                catid: catid
            },
            success: function (data) {
                $('#cont').html(data);
                $('#index').html(' 第 ' + pagecount + ' 页 ');
            }
        })
    }

    function Jump() {
        var count = $('#pcount').val();

        if (count != '' && count > 0 && count <= parseInt(tatal)) {
            $('#error').html('');
            $.ajax({
                url: '/Home/ContentList',
                type: 'post',
                data: {
                    index: parseInt(count) - 1,
                    catid: catid
                },
                success: function (data) {
                    $('#cont').html(data);
                    $('#index').html(' 第 ' + count + ' 页 ');
                    pagecount = parseInt(count);
                }
            })
        } else {
            $('#error').html('请输入正确的值');
        }
    }
</script>

<div>
    <button>首　页</button>
    <button onclick="Paging('Previous')">上一页</button>
    <span id="index"></span>
    <button onclick="Paging('Next')">下一页</button>
    <span>共 @ViewBag.Count 页</span>
    <input id="pcount" type="text" style="width:50px;height:23px;text-align:center;" />
    <button onclick="Jump()">跳转</button>
    <span id="error" style="color:red"></span>
</div>
<div class="Content">
    <div id="classification">
        <ul id="ulcat">
            <li id="li_0" onclick="window.location.href = '/Home/Index';">全部</li>
            <li id="li_22" onclick="SelectCat('22')">宠物</li>
            <li id="li_19" onclick="SelectCat('19')">搞笑</li>
            <li id="li_25" onclick="SelectCat('25')">家居设计</li>
            <li id="li_23" onclick="SelectCat('23')">健身</li>
            <li id="li_28" onclick="SelectCat('28')">美食</li>
            <li id="li_26" onclick="SelectCat('26')">情感</li>
            <li id="li_12" onclick="SelectCat('12')">时尚</li>
            <li id="li_24" onclick="SelectCat('24')">污</li>
            <li id="li_27" onclick="SelectCat('27')">育儿</li>
        </ul>
    </div>
    <div id="cont" class="MessageBoard"></div>
</div>