<script>
    function LoginClick() {
        $.ajax({
            url: '/Login/ExistUser',
            type: 'post',
            data: $('#loginform').serialize(),
            success: function (data) {
                if (data.result) {
                    document.location.href = '/Home/Index';
                } else {
                    alert(data.msg);
                }
            }
        })
    }
</script>

<div class="login form">
    <form id="loginform">
        <div class="group">
            <div class="group-ipt email">
                <input type="text" name="inEmail" id="inEmail" class="ipt" placeholder="输入您的登陆账号" required>
            </div>
            <div class="group-ipt password">
                <input type="password" name="inPassword" id="inPassword" class="ipt" placeholder="输入您的登录密码" required>
            </div>
        </div>
    </form>
</div>

<div class="button">
    <button onclick="LoginClick()" class="login-btn register-btn" id="button">登录</button>
</div>

<div class="remember clearfix">
    <label class="remember-me">
        <span class="icon">
            <span class="zt"></span>
        </span>
        <input type="checkbox" name="remember-me" id="remember-me" class="remember-mecheck" checked>记住密码
    </label>
</div>

<script>
    //window.onload = function () {
    //    var oForm = document.getElementById('loginform');
    //    var oEmail = document.getElementById('inEmail');
    //    var oPassword = document.getElementById('inPassword');
    //    var oRemember = document.getElementById('remember-me');
    //    if (getCookie('inEmail') && getCookie('inPassword')) {
    //        oEmail.value = getCookie('inEmail');
    //        oPassword.value = getCookie('inPassword');
    //        oRemember.checked = true;
    //    }
    //    oRemember.onchange = function () {
    //        if (!this.checked) {
    //            delCookie('inEmail');
    //            delCookie('inPassword');
    //        }
    //    };
    //    oForm.onsubmit = function () {
    //        if (remember - me.checked) {
    //            setCookie('inEmail');
    //            setCookie('inPassword');
    //        }
    //    };
    //};
    //function setCookie(name, value, day) {
    //    var date = new Date();
    //    date.setDate(date.getDate() + day);
    //    document.cookie = name + '=' + value + ';expires=' + date;
    //};
    //function getCookie(name) {
    //    var reg = RegExp(name + '=([^;]+)');
    //    var arr = document.cookie.match(reg);
    //    if (arr) {
    //        return arr[1];
    //    } else {
    //        return '';
    //    }
    //};
    //function delCookie(name) {
    //    setCookie(name, null, -1);
    //};
</script>