<div class="login form">
    <div class="group">
        <div class="group-ipt email">
            <input type="email" name="email" id="email" class="ipt" placeholder="邮箱地址" required>
        </div>
        <div class="group-ipt user">
            <input type="text" name="user" id="user" class="ipt" placeholder="输入用户名" required>
        </div>
        <div class="group-ipt password">
            <input type="password" name="password" id="password" class="ipt" placeholder="设置登录密码" required>
        </div>
        <div class="group-ipt password1">
            <input type="password" name="password1" id="password1" class="ipt" placeholder="重复密码" required>
        </div>
        <div class="group-ipt tel">
            <input type="tel" name="tel" id="tel" class="ipt" placeholder="手机号码" style="width: 70%;" required>
            <div style="float: right;line-height: 43px;margin-right: 5px;">
                <button type="submit" class="login-btn register-btn button2" id="getcode">发送验证码</button>
            </div>
        </div>
        <div class="group-ipt code">
            <input type="code" name="code" id="code" class="ipt" placeholder="输入验证码" required>
        </div>
    </div>
</div>

<div class="button">
    <button type="submit" class="login-btn register-btn" id="button">注册</button>
</div>