@charset "utf-8";
/* CSS Document */
.top .top_center {
    margin-top: 1%;
}

#myfoot div {
    color: red;
}

.foot_new_list {
    position: absolute;
    top: 200px;
    width: 100%;
    height: auto;
}

.foot_new_list .news {
    width: 100%;
    height: 220px;
    border-bottom: 1px solid #ccc;
}

.foot_new_list .news img {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    width: 20%;
    height: 90%;
}

.foot_new_list .news p {
    font-size: 40px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    width: 70%;
    height: 20%;
}

.foot_new_list .news p:visited {
    color: #ccc;
}

#delete_foot p {
    width: auto;
    float: right;
    margin-top: 10%;
    margin-right: 9%;
    font-size: 30px;
    color: red;
}