@{
    var LoginUser = ViewData["LoginUser"] as Web.ViewModels.LoginViewModel;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>首页</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    <style>
        .page-header a, .page-header a:hover, .page-header a:visited, .page-header a:link, .page-header a:active {
            text-decoration: none;
            color: white;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>
        var module = '@ViewBag.Module';
        $(function () {
            switch (module) {
                case "info":
                    $('#info').addClass('active')
                    $('#comoruser').removeClass('active');
                    $('#allcomm').removeClass('active');
                    break;
                case "comoruser":
                    $('#info').removeClass('active')
                    $('#comoruser').addClass('active');
                    $('#allcomm').removeClass('active');
                    break;
                case "allcomm":
                    $('#info').removeClass('active')
                    $('#comoruser').removeClass('active');
                    $('#allcomm').addClass('active');
                    break;
                default: break;
            }
        })

        function ModuleClick(state) {
            var str = '';

            switch (state) {
                case "userinfo":
                    str = 'UserInfo'; break;
                case "userlist":
                    str = 'UserList'; break;
                case "comm":
                    str = 'CommodityList'; break;
                case "allcomm":
                    str = 'AllCommodityList'; break;
                default: break;
            }

            document.location.href = '/Home/' + str;
        }

        function ComClick(cid) {
            if (cid == '') {
                document.location.href = '/Home/CommodityInfo';
            } else {
                document.location.href = '/Home/CommodityInfo?inCommodityID=' + cid;
            }
        }
    </script>
</head>
<body style="cursor:default;">
    <div>
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header" style="text-align: center;padding-left: 75px;padding-right: 71px;">
                <div class="navbar-brand" style="font-size: 25px;">同学网</div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <i class="glyphicon glyphicon-user">用户</i>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="">
                                <i class="glyphicon glyphicon-user"></i>个人信息
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="glyphicon glyphicon-asterisk"></i>设置
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Login/Logout">
                                <i class="glyphicon glyphicon-log-out"></i>退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <div style="margin: 20px;border-bottom: 2px solid rgba(120, 130, 140, 0.13);">
                        <div class="icondiv">
                            <img src="~/Content/Images/1.jpg" class="iconimg" />
                        </div>
                        <div class="iword">
                            <h5>欢迎你, @LoginUser.Name</h5>
                        </div>
                    </div>
                    <ul class="nav in" id="side-menu">
                        <li>
                            <a id="info" onclick="ModuleClick('userinfo')">
                                <i class="glyphicon glyphicon-user"></i>
                                基本信息
                                <span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
                            </a>
                        </li>
                        @{
                            if (LoginUser.IsAdmin)
                            {
                                <li>
                                    <a id="comoruser" onclick="ModuleClick('userlist')">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                        用户列表
                                        <span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a id="comoruser" onclick="ModuleClick('comm')">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                        个人商品
                                        <span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
                                    </a>
                                </li>
                            }
                        }
                        <li>
                            <a id="allcomm" onclick="ModuleClick('allcomm')">
                                <i class="glyphicon glyphicon-list"></i>
                                所有商品
                                <span class="glyphicon glyphicon-chevron-right" style="float: right;"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="page-wrapper" style="min-height: 347px;">
            @RenderBody()
        </div>
    </div>
</body>
</html>