
.container {
    width: 700px;
}

.commentbox {
    width: 700px;
    margin: 20px auto;
}

.mytextarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
    height: 100px;
    color: #000;
    font-size: 1em;
    resize: none;
}

.comment-list {
    width: 700px;
    margin: 20px auto;
    clear: both;
    padding-top: 20px;
}

    .comment-list .comment-info {
        position: relative;
        margin-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }

        .comment-list .comment-info header {
            width: 10%;
            position: absolute;
        }

            .comment-list .comment-info header img {
                display: none;
                width: 100%;
                border-radius: 50%;
                padding: 5px;
            }

        .comment-list .comment-info .comment-right {
            margin-top: 5px;
            /* padding:5px 0px 5px 11%; */
        }

            .comment-list .comment-info .comment-right h3 {
                margin: 5px 0px;
            }

            .comment-list .comment-info .comment-right .comment-content-header {
                height: 25px;
            }

                .comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span {
                    padding-right: 2em;
                    color: #aaa;
                }

                    .comment-list .comment-info .comment-right .comment-content-header span i {
                        display: none;
                    }

                    .comment-list .comment-info .comment-right .comment-content-header span, .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .send, .reply-list-btn {
                        cursor: pointer;
                    }

            .comment-list .comment-info .comment-right .reply-list {
                border-left: 3px solid #ccc;
                padding-left: 7px;
            }

                .comment-list .comment-info .comment-right .reply-list .reply {
                    border-bottom: 1px dashed #ccc;
                }

                    .comment-list .comment-info .comment-right .reply-list .reply div span {
                        padding-left: 10px;
                    }

                    .comment-list .comment-info .comment-right .reply-list .reply p span {
                        padding-right: 2em;
                        color: #aaa;
                    }

                    .comment-list .comment-info .comment-right .comment-content-footer span.reply-btn, .comment-list .comment-info .comment-right .reply-list .reply .reply-list-btn {
                        display: inline-block;
                        background-color: #5BC0DE;
                        border-radius: 5px;
                        color: white;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #eee;
                    }

                    .comment-list .comment-info .comment-right .comment-content-footer .row .send, .comment-list .comment-info .comment-right .reply-list .reply .replybox .send {
                        display: inline-block;
                        border-radius: 5px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-bottom: 10px;
                        border: 1px solid #eee;
                        margin-left: 15px;
                        background-color: #5BC0DE;
                        color: white;
                    }

.commentbox .pull-right {
    margin-top: 5px;
}

.comment-list .comment-info .comment-right .replybox {
    width: 700px;
}

    .comment-list .comment-info .comment-right .replybox textarea {
        width: 680px;
        margin-left: 10px;
    }
