@{
    var vList = Model as List<Web.ViewModels.VMArticle>;
}

@foreach (var item in vList)
{
    <div class="cBox single-mode">
        <div class="cLeft single-mode-lbox">
            <a href="/Home/ArticleInfo?inArticleID=@item.ArticleID" target="_blank" class="imgwrap">
                <img style="max-width:120px;max-height:120px;" src="@item.ImgSrc" />
            </a>
        </div>
        <div class="single-mode-rbox">
            <div class="single-mode-rbox-inner">
                <div class="titlelink"><a target="_blank" href="/Home/ArticleInfo?inArticleID=@item.ArticleID">@item.Title</a></div>
                <div class="fromshop">来自<a href="#">晒码君</a></div>
            </div>
        </div>
    </div>
}
