@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = Model as List<Web.ViewModels.VMFavorites>;
}

<script>
    function Search() {
        var str = $('.searchText').val();

        window.location.href = '/Home/FavoritesList?search=' + str;
    }

    function DelFav(aid) {
        if (confirm('确认取消？')) {
            $.ajax({
                url: '/Home/DelFavorites',
                type: 'post',
                data: {
                    inArticleID: aid
                },
                success: function (data) {
                    if (data.result) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }
            })
        }
    }
</script>
<link href="~/Content/css/mycollection.css" rel="stylesheet" />

<div class="topBar">
    <div class="weatherInfo" style="height:30px;">
        <iframe width="450" scrolling="no" height="30" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23FFFFFF&icon=4&wind=1&num=1&site=12"></iframe>
    </div>
</div>
<div id="typeInfo">
    <div class="typeTitle">
        <a href="/Home/Index">
            <img src="~/Content/img/toptitle.png" />
        </a>
    </div>
    <ul id="ul1" class="typeTop">
        <li id="li_0"><a href="/Home/Index"><span>综合</span></a></li>
        <li id="li_8"><a href="/Home/Index?catid=8"><span>科技</span></a></li>
        <li id="li_12"><a href="/Home/Index?catid=12"><span>时尚</span></a></li>
        <li id="li_16"><a href="/Home/Index?catid=16"><span>生活</span></a></li>
        <li id="li_3"><a href="/Home/Index?catid=3"><span>体育</span></a></li>
        <li id="li_6"><a href="/Home/Index?catid=6"><span>财经</span></a></li>
        <li class="more">
            <a id="btn" onMouseOver="javascript:showInform();">
                <span>更多</span>
            </a>
        </li>
    </ul>
</div>
<div id="inform" onMouseOver="javascript:showInform();" onMouseOut="hiddenInform(event)" style="display: none;">
    <ul id="ul2">
        <li id="li_4"><a href="/Home/Index?catid=4"><span>娱乐</span></a></li>
        <li id="li_13"><a href="/Home/Index?catid=13"><span>游戏</span></a></li>
        <li id="li_15"><a href="/Home/Index?catid=15"><span>旅游</span></a></li>
        <li id="li_14"><a href="/Home/Index?catid=14"><span>军事</span></a></li>
        <li id="li_19"><a href="/Home/Index?catid=19"><span>搞笑</span></a></li>
    </ul>
</div>
<div class="myCollectionContent">
    <div class="collectionTitle"><span>我的收藏</span></div>
    <div class="collectionContent">
        <ul>
            @for (int i = 0; i < list.Count; i++)
            {
                <li>
                    <div class="rContent">
                        <div class="newsTitle"><span><a href="/Home/ArticleInfo?inArticleID=@list[i].ArticleID" target="_blank">@list[i].FaTitle</a></span></div>
                        <div class="collectTime"><span>收藏时间: @list[i].FavoritesTime</span></div>
                        <div class="delNews"><a href="javascript:DelFav('@list[i].ArticleID')">取消收藏</a></div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
<div class="rightbar">
    <div class="searchBar">
        <input type="text" class="searchText" value="@ViewBag.Search" placeholder="搜索收藏的文章" />
        <div class="searchButton"><a type="button" class="searchButton1" href="javascript:Search()">搜索</a></div>
    </div>
    <div class="loginBar">
        @{
            if (Convert.ToBoolean(ViewBag.IsLogin))
            {
                <div id="loginInnerTwo">
                    <div class="welcomeToLogin"><span>欢迎，@ViewBag.Name</span></div>
                    <div class="myfoot"><a type="button" class="footButton" href="/Home/FootmarkList">我的足迹</a></div>
                    <div class="myCollection"><a type="button" class="collectionButton" href="/Home/FavoritesList">我的收藏</a></div>
                    <div class="exitUser"><a type="button" class="exitButton" href="/Authentication/Logout">退出当前账号</a></div>
                </div>
            }
            else
            {
                <div class="loginInner">
                    <div class="loginConduce">登录后可以保存您的浏览足迹、收藏。</div>
                    <div class="loginMode"><a type="button" class="loginButton" href="/Authentication/Index">登录</a></div>
                    <div class="registerMode"><a type="button" class="registerButton" href="/Authentication/Register">注册</a></div>
                </div>
            }
        }
    </div>
</div>

<script type="text/javascript">
    //显示悬浮层
    function showInform() {
        document.getElementById("inform").style.display = 'block';
        // document.getElementById("inform").css("display","block");
    }
    //隐藏悬浮层
    function hiddenInform(event) {
        var informDiv = document.getElementById('inform');
        var x = event.clientX;
        var y = event.clientY;
        var divx1 = informDiv.offsetLeft;
        var divy1 = informDiv.offsetTop;
        var divx2 = informDiv.offsetLeft + informDiv.offsetWidth;
        var divy2 = informDiv.offsetTop + informDiv.offsetHeight;
        if (x < divx1 || x > divx2 || y < divy1 || y > divy2) {
            document.getElementById('inform').style.display = 'none';
        }
    }
</script>
<script src="~/Scripts/YuxiSlider.jQuery.min.js"></script>
<script>
    $("#scroll").YuxiSlider({
        width: 700, //容器宽度
        height: 250, //容器高度
        control: $('.control'), //绑定控制按钮
        during: 4000, //间隔4秒自动滑动
        speed: 1000, //移动速度1秒
        mousewheel: false, //是否开启鼠标滚轮控制
        direkey: true //是否开启左右箭头方向控制
    });
</script>
