@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<script>
    var catid = 'li_'+'@ViewBag.CatID';
</script>
<script>
    var pcount = 1;
    var state = true;

    $(function () {
        $.ajax({
            url: '/Home/ArticleList',
            type: 'post',
            data: { page: 0 },
            success: function (data) {
                $('#articles').html(data);
            }
        })

        var m = $('#menu').children();
        for (var i = 0; i < m.length; i++) {
            if (m[i].id == catid) {
                m[i].className = 'take';
                return;
            }
        }
    });

    $(window).scroll(
        function () {
            var scrollTop = $(this).scrollTop();
            var scrollHeight = $(document).height();
            var windowHeight = $(this).height();
            if (scrollTop + 2 + windowHeight >= scrollHeight) {
                var total = $('#PageCount').val();
                if (pcount <= total) {
                    $.ajax({
                        url: '/Home/ArticleList',
                        type: 'post',
                        data: {
                            page: pcount
                        },
                        success: function (data) {
                            $(data).appendTo($("#articles"));
                            state = true;
                        }
                    })
                    pcount++;
                } else {
                    if (state == true) {
                        //alert('到底了');
                        var str = '<div style="height:10px;background-color:#d8f7ff;text-align:center"><span>到底了</span></div>';
                        $(str).appendTo($("#articles"));
                        state = false;
                        return;
                    }
                }
            }
        });
</script>

<div id="typepick" class="typepick">
    <a id="mycollection" href="/Home/FavoritesList"><div>我的收藏</div></a>
    <a id="myfoot" href="/Home/FootmarkList"><div>我的足迹</div></a>
    <a href="/Authentication/Logout"><div>退出账号</div></a>
</div>
<div class="top">
    <div class="top_left">
        @{
            if (Convert.ToBoolean(ViewBag.IsLogin))
            {
                var a = "|";
                <a href="/Authentication/Index">登录</a> @a <a href="/Authentication/Register"> 注册 </a>
            }
            else
            {
                <div class="personal">
                    <a onclick="javascript: ;" id="clickdown">
                        <img src="~/Content/mobile/img/clickdown.png" />
                    </a>
                    <a onclick="javascript: ;" id="clickdown2">
                        <img src="~/Content/mobile/img/clickdown.png" />
                    </a>
                    <span>@ViewBag.Name</span>
                </div>
            }
        }
    </div>
    <div class="top_center">
        <a href="/Home/Index"><h1>寻味网</h1></a>
    </div>
    <div class="top_right">
        <a href="/Home/Search">
            <img src="~/Content/mobile/img/search.png" />
        </a>
    </div>
</div>
<div id="menu" class="type">
    <a id="li_0" href="/Home/Index" target="_self">综合</a>
    <a id="li_8" href="/Home/Index?catid=8" target="_self">科技</a>
    <a id="li_12" href="/Home/Index?catid=12" target="_self">时尚</a>
    <a id="li_16" href="/Home/Index?catid=16" target="_self">生活</a>
    <a id="li_3" href="/Home/Index?catid=3" target="_self">体育</a>
    <a id="li_6" href="/Home/Index?catid=6" target="_self">财经</a>
    <a id="li_4" href="/Home/Index?catid=4" target="_self">娱乐</a>
    <a id="li_13" href="/Home/Index?catid=13" target="_self">游戏</a>
    <a id="li_15" href="/Home/Index?catid=15" target="_self">旅游</a>
    <a id="li_14" href="/Home/Index?catid=14" target="_self">军事</a>
    <a id="li_19" href="/Home/Index?catid=19" target="_self">搞笑</a>
</div>

<input id="PageCount" hidden="hidden" value="@ViewBag.PageCount" />
<div id="articles" class="new_list"></div>

<script type="text/javascript">
    $('#clickdown').click(function () {
        $('.top').animate({ left: '25%' }, 300);
        $('.type').animate({ left: '25%' }, 300);
        $('#typepick').animate({ left: '0%' }, 300);
        $('.type').animate({ width: '75%' }, 1);
        $('.top').animate({ width: '75%' }, 1);
        $('#clickdown').animate({ opacity: '0' }, 300);
        $('#clickdown').hide();
        $('#clickdown2').show();
        $('#clickdown2').animate({ opacity: '1' }, 300);
        $('#clickdown2').click(function () {
            $('.type').animate({ width: '100%' }, 1);
            $('.top').animate({ width: '100%' }, 1);
            $('.top').animate({ left: '0%' }, 300);
            $('.type').animate({ left: '0%' }, 300);
            $('#typepick').animate({ left: '-25%' }, 300);
            $('#clickdown2').animate({ opacity: '0' }, 300);
            $('#clickdown2').hide();
            $('#clickdown').show();
            $('#clickdown').animate({ opacity: '1' }, 300);
        });
    });
</script>