@{
    Layout = null;
}

<script type="text/javascript">
    function Login() {
        var t_UserName = $('#t_UserName').val();
        var t_UserPass = $('#t_UserPass').val();

        $('#t_UserNameTip').html('');
        $('#t_UserPassTip').html('');

        var state = true;

        if (t_UserName == '') {
            $('#t_UserNameTip').html('不能为空');
            state = false;
        }

        if (t_UserPass == '') {
            $('#t_UserPassTip').html('不能为空');
            state = false;
        }

        if (state) {
            $.ajax({
                url: '/Authentication/Login',
                type: 'post',
                data: $('#form1').serialize(),
                success: function (data) {
                    if (!data.result) {
                        $('#error').html(data.msg);
                    } else {
                        window.location.reload();
                    }
                }
            })
        }
    }
</script>

<style>
    .btnClose {
        transform: rotate(45deg);
        float: right;
        cursor: pointer;
        color: blue;
    }
</style>
<form name="form1" id="form1">
    <div style="height:30px;background-color:#a1a1a1;padding-right:5px;">
        <div class="btnClose">
            <a onClick="closeRight()" style="font-size: 30px;">+</a>
        </div>
    </div>
    @Html.Hidden("UID", 1)
    <br />
    <dl>
        <dd>
            <span class="title">用户名：</span>
            <input class="reg_input" name="UserName" id="t_UserName" type="text" />
            <span id="t_UserNameTip" class="onshow"></span>
        </dd>
        <dd>
            <span class="title">密　码：</span>
            <input class="reg_input" name="Password" id="t_UserPass" type="password" />
            <span id="t_UserPassTip" class="onshow"></span>
        </dd>
    </dl>
    <div class="f_reg_but">
        <div style="height:20px;">
            <span style="color:red;font-size:12px;" id="error"></span>
        </div>
        <input id="button" name="button" onclick="Login()" value="登录" class="l_button" />
        <span class="clew_txt">还没账号？<a href="javascript:IRegister();">立即注册</a></span>
    </div>
</form>