@{
    Layout = null;
}

<script type="text/javascript">
    function Register() {
        var t_UserName = $('#t_UserName').val();
        var t_UserPass = $('#t_UserPass').val();
        var t_RePass = $('#t_RePass').val();
        var t_Email = $('#t_Email').val();

        $('#t_UserNameTip').html('');
        $('#t_UserPassTip').html('');
        $('#t_RePassTip').html('');
        $('#t_EmailTip').html('');

        var state = true;

        if (t_UserName == '') {
            $('#t_UserNameTip').html('不能为空');
            state = false;
        } else {
            var reg = /^[a-zA-Z0-9_-]{3,16}$/;
            if (!reg.test(t_UserName)) {
                $('#t_UserNameTip').html('用户名格式错误');
                state = false;
            }
        }

        if (t_UserPass == '') {
            $('#t_UserPassTip').html('不能为空');
            state = false;
        } else {
            if (t_UserPass.length > 8) {
                $('#t_UserPassTip').html('密码格式错误');
                state = false;
            }
        }

        if (t_RePass == '') {
            $('#t_RePassTip').html('不能为空');
            state = false;
        }

        if (t_UserPass != t_RePass) {
            $('#t_RePassTip').html('密码不一致');
            state = false;
        }

        if (t_Email != '') {
            var reg = /[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?/;

            if (!reg.test(t_Email)) {
                $('#t_EmailTip').html('邮箱格式不正确');
                state = false;
            }
        } else {
            $('#t_EmailTip').html('不能为空');
            state = false;
        }

        if (state) {
            $.ajax({
                url: '/Authentication/Login',
                type: 'post',
                data: $('#form1').serialize(),
                success: function (data) {
                    if (!data.result) {
                        $('#error').html(data.msg);
                    } else {
                        window.location.href = '/Home/Index';
                    }
                }
            })
        }
    }
</script>
<style>
    .btnClose {
        transform: rotate(45deg);
        padding: 0px 0px 0px 5px;
        float: right;
        cursor: pointer;
        color: blue;
    }

    .reg_input {
        width: 200px;
        font-size: 13px;
    }
</style>
<form name="form1" id="form1">
    <div style="height:30px;background-color:#a1a1a1;padding-right:8px;">
        <div class="btnClose">
            <span onClick="closeRight()" style="font-size: 30px;">+</span>
        </div>
    </div>
    @Html.Hidden("UID", 0)
    <dl>
        <dt class="f14 b">帐户信息</dt>
        <dd>
            <span class="title">用户名：</span>
            <input placeholder="输入4-15位的英文或数字组合" class="reg_input" name="UserName" id="t_UserName" type="text" /> <span id="t_UserNameTip" class="onshow"></span>
        </dd>
        <dd>
            <span class="title">密　码：</span>
            <input placeholder="输入少于8位的密码" class="reg_input" name="Password" id="t_UserPass" type="password" /> <span id="t_UserPassTip" class="onshow"></span>
        </dd>
        <dd>
            <span class="title">确认密码：</span>
            <input placeholder="确认密码" class="reg_input" name="t_RePass" id="t_RePass" type="password" /> <span id="t_RePassTip" class="onshow"></span>
        </dd>
        <dd>
            <span class="title">邮箱地址：</span>
            <input placeholder="邮箱地址" class="reg_input" name="Email" id="t_Email" type="text" /> <span id="t_EmailTip" class="onshow"></span>
        </dd>
    </dl>
    <div style="height:20px;">
        <span style="color:red;font-size:12px;" id="error"></span>
    </div>
    <div class="f_reg_but">
        <input id="button" name="button" onclick="Register()" value="免费注册" class="r_button" />
        <span class="clew_txt">如果您已有帐号，可<a href="javascript:ILogin();">直接登录</a></span>
    </div>
</form>